<div class="bodyGap">
  <!-- <mat-toolbar class="fixed-top blueBg">
    <mat-toolbar-row style="height: 60px;"> -->
  <span [ngClass]="scroll ? 'striky img opacity-1':'striky img opacity-5'">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <a class="navbar-brand">
        <img src="../assets/assignment-img/logo/logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <span class="mr-auto">
          <!-- <img src="../assets/assignment-img/logo/logo.png"> -->
        </span>
        <ul class="navbar-nav mr-40">
          <li class="nav-item">
            <a class="nav-link">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          <button class="btn mr-10" type="button">Login</button>
          <button class="btn gstBtn" type="button">Get Started</button>
        </span>
      </div>
    </nav>
  </span>
  <!-- </mat-toolbar-row>
  </mat-toolbar> -->
</div>
<div (scroll)="myFunction()"> </div>
<div class="row mb-20">
  <div class="col-6 pd-0">
    <div class="bg-small">
      <div class="width-300">
        <div class="text-pd">
          <h1>We make it Super Simple</h1>
          <mat-progress-bar class="example-margin" value="100">
          </mat-progress-bar>
        </div>

        <img src="../assets/assignment-img/collect_img-video/collect_img-video.png" alt="Paris" width="300"
          height="auto">
        <img src="../assets/assignment-img/accounting_dots.svg" style="    margin-right: 0px;
        width: 236px;
        margin-left: 240px;
        margin-top: -10px;">
      </div>
    </div>
  </div>
  <div class="col-6 pd-0">
    <div class="bg-large">
      <div class="row right">
        <div class="leftcolumn-60">
          <mat-card class="eligibility-card">
            <mat-card-content>
              <p class="head-text text-center">
                Eligibility Calculator
              </p>
              <div class="pd-15">
                <div><small>Monthly Income</small></div>
                <div class="carency">₹{{incomeValue | number}}</div>
                <mat-slider class="example-margin" max="1000000" min="0" thumbLabel="false" [(ngModel)]="incomeValue"
                  aria-labelledby="example-name-label">
                </mat-slider>

                <div><small>Monthly Expense</small></div>
                <div class=" carency">₹{{expenseValue | number}}</div>
                <mat-slider class="example-margin" max="1000000" min="0" thumbLabel="false" [(ngModel)]="expenseValue"
                  aria-labelledby="example-name-label">
                </mat-slider>
                <mat-form-field appearance="fill">
                  <mat-label>Repayment Tenure</mat-label>
                  <mat-select>
                    <mat-option value="6">6 Months</mat-option>
                    <mat-option value="12">12 Months</mat-option>
                    <mat-option value="24">24 Months</mat-option>
                    <mat-option value="36">36 Months</mat-option>
                  </mat-select>
                </mat-form-field>
                <div>
                  <mat-label ngClass="labelBeforeSlide">Do you have any existing lone ?</mat-label>
                  <mat-slide-toggle class="float-right"></mat-slide-toggle>
                </div>
                <mat-form-field appearance="standard">
                  <mat-label>EMI for existing loan (optional)</mat-label>
                  <input matInput placeholder="15000">
                  <span matPrefix>₹&nbsp;</span>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="rightcolumn-40">
          <mat-card class="example-card-1">
            <mat-card-content>
              <P class="text-gray">loan Amount</P>
              <div class=" carency">₹{{lonAmount | number}}</div>
              <P class="text-gray">Your EMI will be</P>
              <div class=" carency">₹{{EMIvalue | number}}</div>
              <button class="btn getMoney-btn" type="button">Get Started</button>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <img src="../assets/assignment-img/accounting_dots.svg" style="float: right; width: 320px;">
    </div>
  </div>
</div>

<div class="row bg-img">
  <div class="col-12">
    <div class="row">
      <div class="leftcolumn">
        <mat-card class="example-card">
          <mat-card-content>
            <img src='../assets/assignment-img/Low_interest_rate/Low interest rate.png'>
            <p class="head-text">
              Quick cash disbursement
            </p>
            <p>
              Get terms loans that your business needs within 72 hrs
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">

          <mat-card-content>
            <img src='../assets/assignment-img/Get_Paid_Instantly/Get Paid Instantly.png'>
            <p class="head-text">
              Low-interest rate
            </p>
            <p>
              Achieve your financial goals with an amazing interest rate starting at 13% per annum </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-content>
            <img src='../assets/assignment-img/Secure_Payments/Secure Payments.png'>

            <p class="head-text">
              Zero Paperwork
            </p>
            <p>
              Get started instantly by submitting only your basic details & bank statements
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="medilecolumn">

        <mat-card class="example-card">

          <mat-card-content>
            <img src='../assets/assignment-img/freelancer_feature_icon_6@1.5x/freelancer_feature_icon_6@1.5x.png'>

            <p class="head-text">
              Ace your business finances
            </p>
            <p>
              Manage banking, accounting & everything in between, on one platform
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-content>
            <img src='../assets/assignment-img/Covid/Covid.png'>

            <p class="head-text">
              Loans to fight COVID-19
            </p>
            <p>
              Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="rightcolumn">
        <h1>Boost your business with Open</h1>
        <p>Get your hands on a term loan that’s crafted for your business</p>
        <button class="btn btn-r" type="button">Get an Open Account</button>
      </div>
    </div>
  </div>
</div>