/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background: #fcfcff 0% 0% no-repeat padding-box;
    background: transparent url("./assets/assignment-img/circle.svg") 0% 0% no-repeat padding-box;
    background-size: 162% 180%;
    background-position: 3% 40%;
    min-width: 150px !important;
    height: 100%;
}
